/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    object-fit: cover;
}
html{
    height: 100%;
}
body{
    height: 100%;
  
    background-color: #141414;
    display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     line-height: 150%;
     font-size: 14px;
     font-family: "Inter" , sans-serif;
    

}

.card {
    background-color: #1f1f1f;
    padding: 40px;
    background-repeat: 12px;
    text-align: center;
    width: 384px;

}
.card__image {
    margin-bottom: 24px;
    border-radius: 50%;
    display: block;
   margin-left: auto;
   margin-right: auto;
}
.card__title {
font-size: 24px;
margin-bottom: 4px;
font-weight: 600;
}
.card__titles {
    color: #c4f82a;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;

}
card__titless{
    margin-bottom: 24px;


}
.card__type {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card__type__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #333333;
    background-repeat: 8px;
    font-weight: 700px;
    transition: 0.3s;

    &:hover{
        color: #333333;
        background-color: #c4f82a;

    }
    &:active{
        background-color: rgba(196, 248, 42, 0.8);
        opacity: 0.8;
    }

}